{%-assign hostname        = site.github.hostname-%}
{%-assign repository_name = site.github.project_title-%}
{%-if hostname == nil-%}
	{%-assign hostname = "gitlab.com"-%}
	{%-if site.repository.name == nil-%}
		{%-assign repository_name = site.repository.id
			| append: '.' | append: "gitlab.io"-%}
	{%-else-%}
		{%-assign repository_name = site.repository.name-%}
	{%-endif-%}
{%-endif-%}
			<hr>
			<footer>
				<p style="text-align:left">Copyright &copy; {{ site.time | date: "%Y" }}
					{{ site.name }} Team
					<span style="float:right">This site is open source.
						<a href="{{ 'https://' | append: hostname | append: '/'
							| append: site.repository.id     | append: '/'
							| append: repository_name        | append: '/edit/'
							| append: site.repository.branch | append: '/'
							| append: page.path | absolute_url }}">
						Improve this page</a></span>
				</p>
			</footer>
