<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Command</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
{%-for item in site.data.smarthhc.commands-%}
		<tr>
			<td>{{ item.command }}</td>
			<td>{{ item.description }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
