$blue: #337ab7;
/*
$navbar-dark-color: rgba(#fff, .75);
$navbar-dark-hover-color: #fff;
navbar, card-header {background-color:#222"}
*/
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "syntax-highlight";
@import "scroll-to-top";
